<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="empForm">

    <div class="row justify-content-md-center">
      <div class="col-md-2 col-sm-8">
          <img class="rounded-circle z-depth-2" [src]="(db.user).imageUrl" width="100%" alt="">
      </div>
  </div>
  
    <div class="progress-wrapper" *ngIf="percentage && (percentage|async) != 100">
      <div class="progress-info">
          <div class="progress-label">
              <span>Upload Progress</span>
          </div>
          <div class="progress-percentage">
              <span>{{(percentage|async)|number : '1.2-2'}}%</span>
          </div>
      </div>
      <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100" [ngStyle]="{'width':(percentage|async)+'%'}"></div>
      </div>
  </div>
  
  <div class="file">
      <label class="file-label w-100">
  
  
          <input class="file-input" type="file" accept="image/*" (change)="startUpload($event.target.files)">
  
  
          <span class="file-cta w-100">
              <span class="file-icon">
                  <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                  Change profile image
              </span>
          </span>
      </label>
  </div>



    <ion-item lines="full">
      <ion-label position="floating">Name & Surname</ion-label>
      <ion-input formControlName="name"  type="text" required></ion-input>
    </ion-item>

    

    <ion-item lines="full">
      <ion-label position="floating">Identity Number</ion-label>
      <ion-input formControlName="idnum" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone number</ion-label>
      <ion-input formControlName="phone" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    

    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
