<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Confirm</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  
  <ion-card>

    <ion-card-header>
    Please sign below to confirm lesson
    </ion-card-header>
    <ion-card-content>
  <signature-pad 
  (onBeginEvent)="Begin()"
  ></signature-pad>
  <div *ngIf="saveButton">
  <ion-button (click)="onSave()"  color="success">Save</ion-button>
  <ion-button (click)="clear()" color="light">Cancel</ion-button>
</div>
</ion-card-content>
</ion-card>

</ion-content>
